html, body {
    background-color: #DCDCDC; 
    margin: 0;   
    scroll-behavior: smooth;
}

/* adds the dimensions for webpage */
.all-content, .tab{
  margin: auto;
  width: 60%;
  /* border: 3px solid red; */
  padding: 0px;
  text-align: center;
}

#name {
    font-size: 200%;
    font-family: Tahoma, Geneva, sans-serif;
}

#about-me-info{
    font-size: 125%;
}


/*  External Citation::
    https://www.w3schools.com/howto/tryit.asp?filename=tryhow_js_tabs
 */
.tab {
    overflow: hidden;
    border: 5px solid black;
    background-color: black;
}
/* Style the buttons inside the tab */
.tab button {
    align-content: center;
    background-color: inherit;
    /* float: left; */
    border: none;
    outline: none;
    cursor: pointer;
    padding: 5px 25px;
    transition: 0.3s;
    font-size: 25px;
    color: #DCDCDC;
}
.tab button:hover, #to-top:hover{
  background-color: midnightblue;
}

#to-top {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 25px;
  border: none;
  outline: none;
  background-color: black;
  color: #DCDCDC;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

#avatar{
    height: 300px;
}

/* 
    External Citation:
    https://www.webfx.com/blog/web-design/circular-images-css/
*/
.circular-square {
    border-radius: 50%;
  }

/* 
    External Citation:
    https://www.cssfontstack.com/Helvetica
*/
.section-titles{
    font-family: Helvetica; font-size: 30px; font-style: normal; font-variant: normal; font-weight: bold; line-height: 23px;
    text-align: left;
}

.project-titles{
    font: "Times New Roman", Times, serif; 
    font-size: 130%;
}

.project-info{
    font: "Times New Roman", Times, serif; 
    font-size: 110%;
    text-align: left;
}

#socials{
    max-height: 20%;
    max-width: auto;
    margin: 0px;
    padding: 0px;

}

#socials li {
    display:inline;
    margin: 0 10px;
}

.social-img{
    height: 50px;
}

/* 
    External Citation: 
    https://stackoverflow.com/questions/7759229/remove-space-between-paragraph-and-unordered-list 
*/
p + ul {
margin-top: -10px;
}

/* 
    External Citation: 
    https://www.w3schools.com/howto/howto_js_image_grid.asp
*/
.img-grid-column {
    float: left;
    width: 46%;
    padding: 10px;
}
.img-grid-column img {
    margin-top: 12px;
}
.img-grid-row:after {
    content: "";
    display: table;
    clear: both;
}

/* images in "Pictures of My Life" section */
img.mylife-pics{
    width: 100%;
}


/*  External Citation:
    https://stackoverflow.com/questions/52321212/iphone-xr-xs-xs-max-css-media-queries
 */
/* 1792x828px at 326ppi */
@media only screen 
    and (device-width : 414px) 
    and (device-height : 896px) 
    and (-webkit-device-pixel-ratio : 2) { }

/* 2436x1125px at 458ppi */
@media only screen 
    and (device-width : 375px) 
    and (device-height : 812px) 
    and (-webkit-device-pixel-ratio : 3) { }

/* 2688x1242px at 458ppi */
@media only screen 
    and (device-width : 414px) 
    and (device-height : 896px) 
    and (-webkit-device-pixel-ratio : 3) { }