 #content {
  background-color: aqua;
} 
html, body {
    background-color: blue; 
    margin: 0;   
}



.all-content{
  margin: auto;
  width: 60%;
  border: 3px solid red;
  padding: 10px;
  text-align: center;
}

#name {
    font-size: 200%;
    font-family: Tahoma, Geneva, sans-serif;
}

td#aboutMe-info{
    font-size: 125%;
}

img#avatar{
    height: 300px;
}

/* 
    External Citation:
    https://www.webfx.com/blog/web-design/circular-images-css/
*/
.circular--square {
    border-radius: 50%;
  }

/* 
    External Citation:
    https://www.cssfontstack.com/Helvetica
*/
h2.section-titles{
    font-family: Helvetica; font-size: 23px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 23px;
    text-align: left;
}

p.project-titles{
    font: "Times New Roman", Times, serif; 
    font-size: 130%;
}

ul.project-info{
    font: "Times New Roman", Times, serif; 
    font-size: 110%;
    text-align: left;
}

ul#socials{
    max-height: 20%;
    max-width: auto;
    margin: 0px;
    padding: 0px;

}
ul#socials li {
    display:inline;
    margin: 0 10px;
}


img.social-img{
    height: 50px;
}

/* 
    External Citation: 
    https://stackoverflow.com/questions/7759229/remove-space-between-paragraph-and-unordered-list 
*/
p + ul {
margin-top: -10px;
}

/* 
    External Citation: 
    https://www.w3schools.com/howto/howto_js_image_grid.asp
*/
.img-grid-column {
    float: left;
    width: 46%;
    padding: 10px;
}
.img-grid-column img {
    margin-top: 12px;
}
.img-grid-row:after {
    content: "";
    display: table;
    clear: both;
}